.input-group {
    border-radius: 30px; /* 角を丸くする */
    border: solid 5px #000; /* 黒い境界線 */
    background-color: #fff0e0; /* 背景色 */
    box-shadow: 10px 10px 0px 0 #000; /* 影の設定 */
}

header {
    padding: 8px 0px; /* 上下の余白 */
    width: 100%; /* 幅を100%に設定 */
    margin: 0; /* マージンなし */
    box-sizing: border-box; /* ボックスモデルを含む */
    background-color: #fd8b51; /* ヘッダーの背景色 */
    border-bottom: solid 5px #000; /* 下の境界線 */
}

.headerTitle {
    margin: 2px 0px; /* タイトルの余白 */
    border-bottom: 0px; /* 下のボーダーなし */
    color: #fff0e0; /* テキストの色 */
    font-family: 'Luckiest Guy', sans-serif; /* フォントの設定 */
    font-size: 40px; /* フォントサイズ */
    text-decoration: none; /* 下線なし */
}


.col-12 {
    padding: 0%; /* パディングなし */
}

#newChatButton {
    width: 50px; /* 幅 */
    height: 50px; /* 高さ */
}

.align-items-center {
    display: flex; /* フレックスボックス */
    justify-content: center; /* 中央揃え */
    align-items: center; /* 縦中央揃え */
}

#homeTitle {
    margin: 0%; /* マージンなし */
}

.container-fluid {
    padding: 0px 10px; /* 左右のパディング */
}

#chatContainer {
    border-radius: 30px; /* 角を丸くする */
    border: solid 5px #000; /* 黒い境界線 */
    background-color: #fff0e0; /* 背景色 */
    margin: 1em auto; /* 上下のマージン */
    padding: 1em; /* 内側の余白 */
    width: 100%; /* 幅を100%に設定 */
    max-width: 960px; /* 最大幅 */
    height: 480px; /* 高さ */
    max-height: 1000px; /* 最大高さ */
    box-shadow: 10px 10px 0px 0 #000; /* 影の設定 */
    overflow: auto;
    scrollbar-width: none; /* Firefox用スクロールバー透明化 */
}

#charContainer::-webkit-scrollbar {
    display: none; /* WebKit用 */
}

#inputContainer {
    border-radius: 30px; /* 角を丸くする */
    border: solid 5px #000; /* 黒い境界線 */
    background-color: #fff0e0; /* 背景色 */
    margin: 1em auto; /* 上下のマージン */
    padding: 1em; /* 内側の余白 */
    width: 100%; /* 幅を100%に設定 */
    max-width: 960px; /* 最大幅 */
    height: 70px; /* 高さ */
    max-height: 70px; /* 最大高さ */
    box-shadow: 10px 10px 0px 0 #000; /* 影の設定 */
}

body {
    background-color: #64a8a2; /* 背景色 */
    font-size: 16px; /* フォントサイズ */
}

.chatBubble {
    border: solid #000 6px; /* 黒い境界線 */
    border-radius: 20px; /* 角を丸くする */
    margin: 0.5em; /* 上下のマージン */
    padding: 1em; /* 内側の余白 */
    background-color: rgb(0, 0, 0); /* 背景色 */
}

.chatMessage {
    color: rgb(255, 255, 255); /* テキストの色 */
}

/* 上 | 右 | 下 | 左 */
#textUploadButton {
    padding: 0; /* パディングなし */
    margin: 0.1em; /* マージン */
}

.talk {
    background-color: #fd8b51; /* 背景色 */
    padding: 0; /* パディングなし */
    margin: 0; /* マージンなし */
}

#userInput {
    border-radius: 30px; /* 角を丸くする */
    border: solid 5px #000; /* 黒い境界線 */
    width: auto; /* 幅自動 */
    height: 50px; /* 高さ */
    background-color: #fd8b51; /* 背景色 */
}

#imgUploadButton {
    width: 50px; /* 幅 */
    height: 30px; /* 高さ */
}

#textUploadButton {
    width: 50px; /* 幅 */
    height: 50px; /* 高さ */
}

.uploadedImage {
    max-width: 100%;
    max-height: 400px;
    object-fit: contain; /* 比率を保ちながら表示 */
}