#inputText {
    margin: 1em auto;
    padding: 1em;
    width: 100%;
}

header {
    /* background-color: #dd1212; */
    padding: 1em;
    /* 内側の余白を追加 */
    width: 100%;
    /* 幅を100%に設定して画面全体に広げる */
    margin: 0;
    /* マージンをリセット（余白をなくす） */
    box-sizing: border-box;
    /* パディングを含む幅と高さを正しく計算する */
    background-color: #fff;
}


#border-chat {
    border-radius: 30px;
    background-color: #fff;
    margin: 1em auto;
    padding: 1em;
    width: 100%;
    /* containerと同じ幅に設定 */
    max-width: 960px;
    /* Bootstrapのcontainerと同じ最大幅に設定 */
    height: 540px;
    max-height: 1000px;
}


body {
    background-color: #fb0606;
    font-size: 16px;
}


.row {
    margin-right: 0;
    /* 右側の余白をリセット */
}

#chatText {
    margin: 1em;
    padding: 1em;
}

.footer .container-fluid {
    padding: 1em;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}
.backendChat{
    border: solid #cbbfbf;
    border-radius: 20px;
    margin: 0.5em;
    padding: 1em;
}

.userChat{
    border: solid #cbbfbf;
    border-radius: 20px;
    margin: 0.5em;
    padding: 1em;
}
