/* #dragDropArea {
    background-color: #f4f4f4;
    margin: 1em;
    padding: 1em;
    border: #ddd dashed 5px;
    min-height: 10px;
    text-align: center;
} */

#dragDropArea {
    background-color: #f4f4f4;
    margin: 1em auto;  /* 上下に余白、左右は自動で中央寄せ */
    padding: 1em;
    min-height: 10px;
    text-align: center;
    border: #ddd dashed 5px;
    width: 60%; /* 横幅を50%に設定（調整可能） */
    max-width: 400px; /* 最大幅を制限 */
}


#dragDropArea p {
    color: #999;
    font-weight: bold;
    font-size: 14px;
    font-size: 1.4em;
}

#dragDropArea .drag-drop-buttons {
    margin-top: 20px;
    font-size: 12px;
    font-size: 1.2em;
}

.drag-drop-buttons input {
    margin: auto;
}

/* header{
    margin: 2em;
    background-color: #dd1212;
    padding: auto;
    height: auto;
    width: auto;
} */
header {
    /* background-color: #dd1212; */
    padding: 1em;
    /* 内側の余白を追加 */
    width: 100%;
    /* 幅を100%に設定して画面全体に広げる */
    margin: 0;
    /* マージンをリセット（余白をなくす） */
    box-sizing: border-box;
    /* パディングを含む幅と高さを正しく計算する */
}

/* /* 
.container-chat {
    width: 40%; 親要素に対する相対幅
  } */