body {
    background-color: #64a8a2;
    font-family: 'Roboto Mono', monospace; /* ボディのフォント設定 */
}

.container {
    padding-left: 10px;  /* 左の余白を削除 */
    margin-left: 0;   /* 左のマージンも削除 */
}

.header {
    background-color: #fd8b51;
    border-bottom: 5px solid rgb(16, 16, 16);
}

.headerChar {
    margin-top: 2px;
    margin-bottom: 2px;
    color: #fff0e0;
    font-family: 'Luckiest Guy', sans-serif; /* ヘッダーのフォントを指定 */
    font-size: 40px; /* フォントサイズを指定 */
    text-decoration: none; /* リンクの下線を消す */
}

.cardStyle {
    border: 5px solid black;
    border-radius: 1.5rem;
    width: 50em;
    height: 30em;
    background-color: #fff0e0;
    color: #fd8b51;
    box-shadow: 17px 17px 0px rgb(0, 0, 0);
}

.cardTitle {
    font-size: 4em;
    font-family: 'Luckiest Guy', sans-serif;
}

.cardText {
    font-family: 'Yusei Magic', sans-serif;
    font-size: 1.5em;
}

.full-height {
    height: 100vh; /* ビューポートの高さを100%に設定 */
}

.startBtn {
    font-family: 'Yusei Magic', sans-serif;
    font-size: 1.2em;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 60px;
    border-radius: 2rem;
}